In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Второй проект  задание 1

Воспользуйтесь этими данными и выясните, какие пары товаров пользователи чаще всего покупают вместе.  
По сути, вам необходимо найти паттерны покупок, что позволит оптимизировать размещение продуктов в магазине, для удобства пользователей и увеличения выручки.  
Напишите код на python для получения нужной таблицы и укажите 5 наиболее распространённых паттернов.

In [2]:
products = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv', sep=',')

In [3]:
products.head(10)

      id            Товар  Количество
0  17119            Лимон        1.10
1  17119  Лимон оранжевый        0.70
2  17119        Лук-порей       10.00
3  17119     Лук репчатый        2.50
4  17119    Малина свежая        1.00
5  17119  Морковь немытая        1.40
6  17119  Черешня сушеная        1.80
7  17530  Лимон оранжевый        0.25
8  17530     Изюм Султана        0.50
9  17530  Капуста цветная        2.00

In [4]:
from itertools import combinations

def combs(goods):
    return pd.Series(list(combinations(goods, 2)))

group = products.groupby('id')['Товар'].apply(combs).value_counts()

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

In [5]:
result = group.to_frame().reset_index()

In [6]:
result

                                    index  Товар
0              (Огурцы Луховицкие, Укроп)    403
1                       (Петрушка, Укроп)    390
2              (Арбуз, Огурцы Луховицкие)    314
3            (Кабачки, Огурцы Луховицкие)    300
4                          (Кинза, Укроп)    290
...                                   ...    ...
39175  (Брусника свежая, Банановые чипсы)      1
39176       (Лонган, Абрикосы молдавские)      1
39177       (Рамбутан, Грейпфрут красный)      1
39178           (Черешня отборная, Тыква)      1
39179          (Лонган, Букет "Брокколи")      1

[39180 rows x 2 columns]

In [7]:
result['1_Товар'] = result["index"].apply(lambda x: x[0])
result['2_Товар'] = result["index"].apply(lambda x: x[1])
result['Встречаемость'] = result["Товар"]

In [8]:
result = result.drop(['index', 'Товар'], 1)

In [9]:
result

                 1_Товар              2_Товар  Встречаемость
0      Огурцы Луховицкие                Укроп            403
1               Петрушка                Укроп            390
2                  Арбуз    Огурцы Луховицкие            314
3                Кабачки    Огурцы Луховицкие            300
4                  Кинза                Укроп            290
...                  ...                  ...            ...
39175    Брусника свежая      Банановые чипсы              1
39176             Лонган  Абрикосы молдавские              1
39177           Рамбутан    Грейпфрут красный              1
39178   Черешня отборная                Тыква              1
39179             Лонган     Букет "Брокколи"              1

[39180 rows x 3 columns]

In [10]:
result.head(5)

             1_Товар            2_Товар  Встречаемость
0  Огурцы Луховицкие              Укроп            403
1           Петрушка              Укроп            390
2              Арбуз  Огурцы Луховицкие            314
3            Кабачки  Огурцы Луховицкие            300
4              Кинза              Укроп            290

----------------------------------------------------

### Ответ по второму проект  задание 1:

5 распространненых паттернов товаров:
- Огурцы Луховицкие и Укроп  
- Петрушка и Укроп  
- Арбуз и Огурцы Луховицкие  
- Кабачки и Огурцы Луховицкие  
-  Кинза и Укроп

--------------------------------------------------